@charset "utf-8";
#Contenedor {
    background-color: #00b4fc;
    width: 100%;
    height: 1100px;
}
#header {
    background-color: #001449;
    height: 200px;
    width: 100%;
}
#BodyCentro {
    background-color: #005bc5;
    height: 400px;
    width: 69%;
    float: left;
}
#menu {
    height: 50px;
    text-align: center;
    text-decoration: underline;
}

#BodyDerecha {
    background-color: #012677;
    height: 900px;
    width: 30%;
    float: right;
}
#BodyCentroAbajo {
    background-color: #00b4fc;
    height: 300px;
    width: 69%;
    float: left;
}
#izq {
    width: 65%;
}
#Footer {
    background-color: #001449;
    float: left;
    height: 200px;
    width: 70%;
}
.titulo {
    color: hsla(359,100%,50%,1.00);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
}
.texto1 {
    color: hsla(0,0%,100%,1.00);
}
.centro {
    text-align: center;
    color: hsla(0,0%,100%,1.00);
}

.texto2 {
    color: hsla(0,0%,100%,1.00);
}
